<!--Opening tag for html & body-->
<html>
<body>
<!--h1 for title called About page-->
<h1>About Page</h1>
<!--Simple text for the body-->
<p>This is a simple page.</p>
<!--Link back to the main page using /-->
<a href="/">Home Page</a>
<!--Closing tags for body & html-->
</body>
</html>