<html>
<head>
<!--Official title for web page, in web page header-->
    <title>Hello Spring!</title>
</head>
<body>
<!--Title of web page-->
<h1>Hello from Spring Boot! This is a project for the Java class!</h1>
<!--Some simple text to fill page, with name attribution-->
<p>This web app was built by {{name}}</p>
<!--Some simple text to fill page, with classCode and className attributions-->
<p>This is a project for the {{classCode}} {{className}} class.</p>
<!--Link to an About page on site-->
<a href="/about">Go to the about page</a>
</body>
</html>